body {
  font-family: Georgia;
  font-size: calc(0.9em + 0.4vw);
	}

.grid {
	display: grid;
	grid-template-columns: 15% auto;
	grid-template-rows: 15% 1fr 4fr 1fr;
	width: 100vw;
	height: 100vh; 
}

header {
	background: #003262;
	font-size: calc(1em + 0.5vw);
	font-weight: bold;
	color: #ed5;
	border-bottom: 0.05em solid white;
	padding-top:1vh;
}

.seal_responsive {
	height: 13vh;
	width:  auto;
    padding-left: 5px;
}


.filter, #summary, .map, #address_box, .t_series {
  background: #003262; /* #ed5, #0072b9 */ 
  padding: 0.5em;
  color: #fff;
  font-family: Georgia;
}


header {
	grid-row: 1;
	grid-column: 1 / 3;
}

.filter {
	grid-row: 2;
	grid-column: 1;
    padding-right: 15%;
}

#summary {
	grid-column: 1;
	grid-row: 3;
}

.form-control {
	font-size: calc(0.6em + 0.3vw);
    width: 100%;
}

caption {
	font-size: calc(0.7em + 0.4vw);
	font-weight: bold;
	color: #ed5;
}

table {
	text-align: left;
	font-size: calc(0.4em + 0.45vw);
	margin-left: calc(1em + 0.1vw);
	margin-right: calc(1em + 0.1vw);
	width: 90%;
	overflow: hidden;
}

.tr_text:nth-child(odd) {
    background: #002547;
}

td {
    padding: 2px 2px 2px 2px;
}

.count {
	text-align: center;
	padding: calc(0.05em + 0.1vw);

}

.map {
	grid-row: 2 / 4;
	grid-column: 2;
}

#address_box {
	grid-row: 4;
	grid-column: 1;
	padding: 3px;
}

.address_input {
	width: 90%;
	color: #000;
}

button {
	color: #003262;
	background-color:rgb(230, 195, 25) /*#ed5 #0072b9*/;
}

/* .leaflet-control-container .leaflet-routing-container-hide { */
    /* display: none; */
/* } */

.t_series {
	grid-row: 4;
	grid-column: 2;
}

rect.bar:hover {
  fill: #E09E19;
}

svg {
  width:auto;
  height: auto;
}

#map {
	height: 100%;
	width: 100%;
  }

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.axis {
    color: white;
    stroke: white;
    font-family: Georgia;
}


#datetimes {
    color: #000;
}

.btn {
    background-color : grey;
    border: 0px;
}   

.btn-group {
    padding: 10px 10px 10px 10px;
}

.latest_warning {

    height: 75%;
    float: right;
    margin: 1% 1% 1% 1%;
    background-color: #E09E19;
    border-radius: 15px;

    padding: 5px 5px 5px 10px;
    overflow: hidden;

    font-size: calc(0.5em + 0.4vw);
    font-weight: normal;
    color: white;

}
